.app-header {
  background-color: #00000052;
    & > * {
        color: $clr1;
    }

    img {
      height: 60px;
      margin: 5px 0 5px -5px;
      
    }

    h1 {
      margin-inline-start: 10px;
      margin-block-start: 5px;
      font-size: rem(24px);
    }
  .header-container {
    position: relative;

    @media screen and (min-width: 500px) {
      .menu-btn {
        display: none;
      }
    }
  }
}
