.app-nav {
  position: relative;
  & > * {
    color: white;
    margin-inline-start: 0.5em;
    padding: em(10px, 18px);

    &:hover {
      color: $clr1;
      box-shadow: inset 0px -4px 0 0;
      transition: box-shadow .2s;
    }

    &.active {
      color: $clr1;
    }
  }
  transition: all 0.2s ease-in-out;
  .close {
    display: none;
  }

  @media screen and (max-width: 500px) {
    .close {
      display: block;
      position: absolute;
      top: 1em;
      left: 0;
    }
    top: 0;
    // left: 0; //for full screen opening
    transform: translateX(110%);
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
    &.open {
      z-index: 10;
      padding-top: 2.5em;
      transform: translate(0);
      box-shadow: 0 0 0 100vh #00000080;
    }
  }

}
