.contact-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;


  // li {
  //   background-color: $clr2;
  //   color: $clr6;
  //   padding: 5px;
  //   margin: 5px;
  // }
  // a {
  //   color: $clr1;
  //   padding: 10px;
  // }
  // pre {
  //   background-color: #ddd;
  //   font-size: 0.5em;
  //   color: #333;
  //   padding: 0.2em;
  //   margin: 0.2em;
  // }
}
