.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $clr1;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }