.move-list {
  .header {
    margin-block-end: 30px;

    img {
      height: 30px;
      width: 30px;
      margin-block-start: -5px;
    }
  }

  h1 {
    font-size: rem(20px);
    // margin-block-end: 24px;
    margin-inline-start: 10px;
  }

  span {
    color: lightgray;
  }

  span.btc {
    color: $clr1;
  }

  span.approved {
    color: $clr2;
  }

  li:not(:last-of-type) {
    border-bottom: 1px solid darkgray;
  }

  li:not(first-child) {
    margin-block-start: 20px;
  }
}
