@font-face {
    font-family: macan-bold;
    src: url('../fonts/macan/macan-bold.ttf');
}

@font-face {
    font-family: macan-light;
    src: url('../fonts/macan/macan-light.ttf');
}

@font-face {
    font-family: macan-regular;
    src: url('../fonts/macan/macan-regular.woff2');
}
